.emoji {
    display: inline-block;

    //spoke
    &.emoji-spoke {
        @include uploadRespEmoji(spoke);
    }

    // airplane
    &.emoji-airplane {
        @include uploadRespEmoji(airplane);
    }

     // book
    &.emoji-book {
        @include uploadRespEmoji(book);
    }

    // peace
    &.emoji-peace {
        @include uploadRespEmoji(peace);
    }

    // clock
    &.emoji-clock {
        @include uploadRespEmoji(clock);
    }

    // flag-uk
    &.emoji-flag-uk {
        @include uploadRespEmoji(flag-uk);
    }

    // fire
    &.emoji-fire {
        @include uploadRespEmoji(fire);
    }

    // gift
    &.emoji-gift {
        @include uploadRespEmoji(gift);
    }

    // blue
    &.emoji-blue {
        @include uploadRespEmoji(blue);
    }

    // orange
    &.emoji-orange {
        @include uploadRespEmoji(orange);
    }

    // mobile-phone
    &.emoji-mobile-phone {
        @include uploadRespEmoji(mobile-phone);
    }

    // microphone
    &.emoji-microphone {
        @include uploadRespEmoji(microphone);
    }

    // heart
    &.emoji-heart {
        @include uploadRespEmoji(heart);
    }

    // play
    &.emoji-play {
        @include uploadRespEmoji(play);
    }

    // clapper
    &.emoji-clapper {
        @include uploadRespEmoji(clapper);
    }
    
}

.emoji--only-desctop {
    display: none;

    @include responsive(desktop) {
        display: inline-block;
    }
}

.emoji--only-mobile {
    display: none;

    @include responsive(mobile) {
        display: inline-block;
    }
}
