// Footer styles

.footer {
    width: 100%;
    padding: 32px 0 24px 0;

    .container {
    display: flex;
    flex-direction: column;
    }

    // Logo
    &__logo {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    // Company logo
    .company-logo {
        display: block;
        width: 127px;
    }

    // Client logo
    .client-logo {
        display: block;
        width: 140px;
        font-size: 18px;
        line-height: 100%;
        color: $gray;
    }

    // Trademark
    &__trademark {
        display: flex;
        align-items: center;

        span {
            font-size: 18px;
            line-height: 32px;
        }
        
        .emoji {
            @include boxSize(29px, 29px);
        }
    }
}

@media screen and (min-width: 720px) {
    // Footer styles

    .footer {
        padding-top: 96px;
        padding-bottom: 42px;

        .container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        // Logo
        &__logo {
            max-width: 474px;
            margin-bottom: 0;
        }

        // Company logo
        .company-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 219px;

            img:first-child {
                width: 39px;
            }

            img:last-child {
                width: 135px;
            }
        }

        // Client logo
        .client-logo {
            width: 250px;
            font-size: 32px;
        }

        // Trademark
        &__trademark {
            span {
                font-size: 24px;
            }
        }
    }
}