
// Fonts
$basic-fonts: "Stratos LC Web", serif;


// Colors
$blue: #E4FBFF;
$blue_2: #C2F5FF;
$blue_btn: #00AEFA;
$gray: #8C8C8C;
$black: #04121B;
$white: #FFF;
$purple: #AD61FF;
$purple-2: #E8BEFC;
$purple-3: #E6A8FF;
$pink: #E8BEFC;
$pink_form: #2D061F;
