// Webinar topic styles

.webinar-topic {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @include responsive(desktop) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-starts;
        flex-direction: row;
    }
    
    .emoji {
        @include responsive(desktop) {
            margin: 0 -6px;
        }
    }

    // title
    &__title {
        width: 100%;
        max-width: 250px;
        margin-top: 105px;
        font-weight: normal;
        font-size: 40px;
        line-height: 100%;
        color: $black;

        @include responsive(desktop) {
            max-width: 660px;
            margin-top: 36px;
            font-size: 80px;
        }
    }

    &__title_circle {
        margin-top: 0;

        @include responsive(desktop) {
            margin-top: 36px;
        }
    }

    // Img box
    &__img-box {

        &_rect {
            @include responsive(desktop) {
                height: 475px;
                margin-top: -58px;
                margin-right: -44px;
                top: -14px;
            }

        }

        &_circle {
            @include responsive(desktop) {
                height: 480px;
                margin-top: -58px;
                margin-right: 50px;
                top: -23px;
            }
        }

        @include responsive(desktop) {
            width: auto;
            position: relative;
        }
        
    }

    // Image
    .img-box__image {
        display: none;

        @include responsive(desktop) {
            display: block;
            border: 12px solid $white;       
            transform: rotate(-4.21deg);

            &_rect {
                @include coverPicture(484px, 334px);
                border-radius: 16px;
            }

        }

        &_circle {
            display: block;
            @include coverPicture(225px, 225px);
            margin: 0 auto;
            margin-top: 6px;
            top: -22px;
            border-radius: 50%;
            transform: rotate(0deg);
            position: relative;
            border: 8px solid $white; 
            
            @include responsive(desktop) {
                @include coverPicture(400px, 400px);
                border-radius: 50%;
                transform: rotate(0deg);
                position: relative;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        
    }

    // Sticker
    .img-box__sticker {
        @include boxSize(315px, 167px);
        @include coverBgImg('../images/stickers/free-webinar.png');
        position: absolute;

        @include responsive(desktop) {
            @include boxSize(508px, 269px);
        }
        
        
    }

    .img-box__image_rect + .img-box__sticker {
        top: 8px;
        left: 50%;
        transform: translateX(-50%);

        @include responsive(desktop) {
            top: auto;
            left: -133px;
            bottom: 0;
            transform: translateX(0);
        }
    }

    .img-box__image_circle + .img-box__sticker {
        top: 8px;
        left: 50%;
        transform: translateX(-50%);

        @include responsive(desktop) {
            top: auto;
            left: -121px;
            bottom: 0;
            transform: translateX(0);
        }
    }
}